<a href="https://colab.research.google.com/github/NguyenTanPhats/baitap2_AI/blob/main/W8_24_03_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.linear_model import Perceptron
x = [[0,0],[1,0],[0,1],[1,1]]
y = [0,1,1,1]

In [ ]:
model = Perceptron()
model.fit(x,y)
model.score(x,y)

1.0

In [ ]:
x1 = [[0.5,0],[0,0.5],[0.6,0],[0.51,0],[0,0.51],[10,-2],[-0.2,1]]
y1 = model.predict(x1)
print(y1)
model.score(x1,y1)

[0 0 1 1 1 1 1]

1.0

In [ ]:
from sklearn.linear_model import Perceptron
x = [[-0.5,-0.5],[-0.5,0.5],[0.5,-0.5],[0.5,0.5]]
y = [1,1,0,0]

In [ ]:
model = Perceptron()
model.fit(x,y)
model.score(x,y)

1.0

In [ ]:
x1 = [[0.1,0],[0,0.1],[0.2,0],[0,0.2]]
y1 = model.predict(x1)
print(y1)
model.score(x1,y1)

[0 0 0 0 0]

1.0

In [189]:
from sklearn import datasets 
from sklearn.linear_model import  Perceptron
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [190]:
iris = datasets.load_iris()
x = iris.data
y = iris.target
print(x[:5])
print(y[:5])

[[5.1 3.5 1.4 0.2]
 [4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]
 [5.  3.6 1.4 0.2]]
[0 0 0 0 0]

In [191]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.7)

In [192]:
sc = StandardScaler()
sc.fit(x_train)
x_train_std = sc.transform(x_train)
x_test_std = sc.transform(x_test)

In [193]:
model = Perceptron(max_iter=40,eta0=0.1,random_state=0)
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
print(y_test)
print(y_pred)
print('do chinh xac khi chua scale:',accuracy_score(y_test,y_pred))

[2 0 1 0 2 1 2 1 1 1 2 2 2 1 0 1 1 1 1 2 0 2 0 1 1 0 0 0 1 0 1 2 2 1 1 0 1
 2 2 1 2 1 0 0 0 0 1 2 2 0 0 1 1 1 2 1 2 1 0 2 2 1 1 0 0 1 2 2 0 0 0 2 0 1
 0 2 0 0 2 1 0 2 1 0 1 1 1 1 2 2 2 0 2 2 0 1 1 2 2 2 2 1 2 2 2]
[2 0 0 0 2 2 2 2 0 0 2 2 2 0 0 0 0 0 0 2 0 2 0 0 2 0 0 0 0 0 0 2 2 2 2 0 0
 2 2 0 2 0 0 0 0 0 2 2 2 0 0 0 0 2 2 0 2 0 0 2 2 0 2 0 0 0 2 2 0 0 0 2 0 0
 0 2 0 0 2 0 0 2 0 0 0 0 2 2 2 2 2 0 2 2 0 0 0 2 2 2 2 0 2 2 2]
do chinh xac khi chua scale: 0.638095238095238

In [194]:
model = Perceptron(max_iter=40,eta0=0.1,random_state=0)
model.fit(x_train_std,y_train)
y_pred = model.predict(x_test_std)
print(y_test)
print(y_pred)
print('do chinh xac khi scale:',accuracy_score(y_test,y_pred))

[2 0 1 0 2 1 2 1 1 1 2 2 2 1 0 1 1 1 1 2 0 2 0 1 1 0 0 0 1 0 1 2 2 1 1 0 1
 2 2 1 2 1 0 0 0 0 1 2 2 0 0 1 1 1 2 1 2 1 0 2 2 1 1 0 0 1 2 2 0 0 0 2 0 1
 0 2 0 0 2 1 0 2 1 0 1 1 1 1 2 2 2 0 2 2 0 1 1 2 2 2 2 1 2 2 2]
[2 0 1 0 1 2 2 1 1 1 2 1 2 1 0 1 1 2 1 1 0 2 0 1 2 0 0 0 1 0 1 2 1 2 1 0 1
 2 2 1 1 1 0 0 0 0 1 2 2 0 0 2 1 1 2 1 2 1 0 1 2 1 1 0 0 1 2 2 0 0 0 2 0 1
 0 2 0 0 1 1 0 2 1 0 1 1 1 1 2 1 2 0 2 2 0 1 1 1 2 1 1 2 2 1 2]
do chinh xac khi scale: 0.8285714285714286

In [195]:
from sklearn import datasets 
from sklearn.linear_model import  Perceptron
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [196]:
import pandas as pd
url='/lung_cancer_examples.csv'
data = pd.read_csv(url)
data.head()

     Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0    John         Wick   35       3      5       4       1
1    John  Constantine   27      20      2       5       1
2  Camela     Anderson   30       0      5       2       0
3    Alex       Telles   28       0      8       1       0
4   Diego     Maradona   68       4      5       6       1

In [197]:
x = data.drop(['Name', 'Surname','Result'], axis=1)
y = data['Result']
print(x[:5])
print(y[:5])

   Age  Smokes  AreaQ  Alkhol
0   35       3      5       4
1   27      20      2       5
2   30       0      5       2
3   28       0      8       1
4   68       4      5       6
0    1
1    1
2    0
3    0
4    1
Name: Result, dtype: int64

In [198]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.7)

In [199]:
sc = StandardScaler()
sc.fit(x_train)
x_train_std = sc.transform(x_train)
x_test_std = sc.transform(x_test)

In [200]:
model = Perceptron(max_iter=40,eta0=0.1,random_state=0)
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
print(y_test)
print(y_pred)
print('do chinh xac khi chua scale:',accuracy_score(y_test,y_pred))

24    1
27    0
0     1
12    0
2     0
50    0
36    1
8     0
21    0
49    1
4     1
29    1
32    1
34    0
46    0
57    1
40    1
1     1
7     0
42    1
25    0
5     0
58    0
9     1
55    1
22    0
11    0
18    1
53    0
6     0
33    1
51    1
31    1
19    1
37    1
35    0
45    0
14    1
28    1
47    0
39    0
20    1
Name: Result, dtype: int64
[1 0 0 0 0 0 1 0 0 1 0 1 1 0 0 1 1 1 0 1 1 0 0 1 1 1 0 0 1 0 1 1 1 0 1 0 0
 1 1 0 0 1]
do chinh xac khi chua scale: 0.8333333333333334

In [201]:
model = Perceptron(max_iter=40,eta0=0.1,random_state=0)
model.fit(x_train_std,y_train)
y_pred = model.predict(x_test_std)
print(y_test)
print(y_pred)
print('do chinh xac khi scale:',accuracy_score(y_test,y_pred))

24    1
27    0
0     1
12    0
2     0
50    0
36    1
8     0
21    0
49    1
4     1
29    1
32    1
34    0
46    0
57    1
40    1
1     1
7     0
42    1
25    0
5     0
58    0
9     1
55    1
22    0
11    0
18    1
53    0
6     0
33    1
51    1
31    1
19    1
37    1
35    0
45    0
14    1
28    1
47    0
39    0
20    1
Name: Result, dtype: int64
[1 0 1 0 0 0 1 0 0 1 1 1 1 0 0 1 1 1 0 1 0 0 0 1 1 0 0 1 0 0 1 1 1 1 1 0 0
 1 1 0 1 1]
do chinh xac khi scale: 0.9761904761904762

In [202]:
from sklearn import datasets 
from sklearn.linear_model import  Perceptron
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [203]:
import pandas as pd
url='/pima-indians-diabetes.csv'
data = pd.read_csv(url)
data.head()

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [204]:
x = data.iloc[:,:8]
y = data.iloc[:,8]

In [205]:
x.head()

   6  148  72  35    0  33.6  0.627  50
0  1   85  66  29    0  26.6  0.351  31
1  8  183  64   0    0  23.3  0.672  32
2  1   89  66  23   94  28.1  0.167  21
3  0  137  40  35  168  43.1  2.288  33
4  5  116  74   0    0  25.6  0.201  30

In [206]:
y.head()

0    0
1    1
2    0
3    1
4    0
Name: 1, dtype: int64

In [226]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.7)

In [227]:
sc = StandardScaler()
sc.fit(x_train)
x_train_std = sc.transform(x_train)
x_test_std = sc.transform(x_test)

In [228]:
model = Perceptron(max_iter=40,eta0=0.1,random_state=0)
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
print(y_test)
print(y_pred)
print('do chinh xac khi chua scale:',accuracy_score(y_test,y_pred))

543    0
146    0
408    1
325    1
734    0
      ..
170    1
427    0
497    1
559    1
101    0
Name: 1, Length: 537, dtype: int64
[0 0 1 1 0 0 0 0 0 1 1 0 1 0 0 0 1 0 0 0 1 0 0 0 1 1 0 0 0 0 1 0 0 1 0 1 1
 0 1 0 0 0 0 0 1 0 0 0 1 0 1 1 1 0 0 0 0 1 0 0 1 0 0 1 1 0 0 0 1 1 0 0 0 0
 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 1 1 1 1 1
 0 0 0 0 0 0 0 1 1 1 1 1 0 0 1 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 0
 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 1 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0
 1 0 1 0 0 1 0 1 0 0 0 0 1 0 0 0 0 1 1 0 0 1 0 0 1 1 1 0 0 0 0 0 0 0 1 1 1
 0 0 0 0 0 0 1 0 1 1 1 0 0 0 0 1 0 0 0 0 0 0 0 1 1 0 1 1 1 0 0 1 0 0 1 0 0
 0 0 1 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 1 0 1 1 0 1 1 0 1 1 0 1 0 0 0 1 0 1
 1 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 0 1 1 0 1 0 0 1 0 0 1 0 1 0 0
 0 0 1 0 0 1 1 0 1 0 1 0 0 1 0 1 1 1 0 0 0 0 0 0 0 1 0 0 0 1 0 1 0 1 0 0 0
 0 1 0 1 0 0 1 1 1 0 0 0 0 0 0 0 0 1 1 0 0 1 0 0 1 1 0 1 0 0 0 1 0 0 0 1 0
 0 1 0 1 0 0 0 0 0 1 1 0 0 0 1 0 0 0 1 1 0 0 0 0 0 1 1 0 1 0 0 0 0 0 0 1 1
 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 1 1 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 1
 0 1 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 1 0 0 0 0 0
 1 0 0 0 0 0 1 0 1 0 0 0 1 0 1 0 1 0 0]
do chinh xac khi chua scale: 0.6610800744878957

In [229]:
model = Perceptron(max_iter=40,eta0=0.1,random_state=0)
model.fit(x_train_std,y_train)
y_pred = model.predict(x_test_std)
print(y_test)
print(y_pred)
print('do chinh xac khi scale:',accuracy_score(y_test,y_pred))

543    0
146    0
408    1
325    1
734    0
      ..
170    1
427    0
497    1
559    1
101    0
Name: 1, Length: 537, dtype: int64
[0 0 1 0 0 0 0 1 1 1 0 1 0 0 0 0 1 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 1 1 1
 0 1 0 0 1 0 0 1 1 0 0 1 1 1 0 0 1 0 0 0 0 0 1 1 1 0 0 0 0 0 1 1 1 0 0 0 1
 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 1 1 0 0 0 1 1 0 0 0 0 0 0 0 1
 0 0 0 0 0 0 0 0 0 1 1 1 1 1 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0
 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 1 1 1 1 1 0 0 1 0 0 0
 0 0 0 1 1 1 1 1 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0
 0 0 0 1 0 0 0 0 0 1 1 0 1 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 1 1 0 0 1 0
 0 0 1 0 1 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 1 0 1 1 0 1 1 1 0
 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 0 1 0 0 0 1 0 0 0 1 1 0 0
 0 1 1 0 0 1 1 1 1 1 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 1 1 0 0 0 1 1 0 0 0 1 0
 0 0 0 1 0 1 1 1 1 0 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0
 0 1 1 0 0 0 0 0 1 1 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 1
 0 0 1 0 0 0 1 0 1 1 0 0 1 0 0 0 0 0 1 1 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0
 1 0 0 0 0 0 0 1 0 0 0 0 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1
 0 0 1 1 0 1 0 0 1 0 1 0 1 0 1 0 1 0 0]
do chinh xac khi scale: 0.7001862197392924